.carre{
    position: absolute;
    top: 100px;
    left:0px;
    width: 100px;
    height: 100px;
    background-color: rgba(42, 171, 228, 1);
}

.subcarre{
    position: absolute;
    top: 10px;
    left:10px;
    height: 80px;
    background-image:linear-gradient(120deg,rgba(198, 198,198, 1),white);
}

body{
    background-image: url("../square.png");
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
}

#wrapper{
    position: relative;
    width: 50%;
    margin-right: auto;
    margin-left: auto;
}

button{
    font-family: sans-serif;
    font-weight: bolder;
    background-color: transparent;
    border: none;
}